{% extends 'base.html' %}
{% load static %}
{% block style %}

.tab-container .tab-bar{
  display: flex;
  align-items: center;
}
.tab-container .tab-bar button.tablinks{
  border: 1px solid #cdcaca4a;
  background: #ebebeb;
  color: #5e5e5e;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
    padding: 5px 10px;
}
.tab-container .tab-bar button.tablinks:first-child {
  border-radius: 5px 0 0 0;
}
.tab-container .tab-bar button.tablinks:last-child {
  border-radius: 0 5px 0 0;
}
.tab-container .tab-bar button.tablinks.active{
  background: #006ad2;
  color: #fff;
}
.tab-container .tabcontent{
  box-shadow: 2px 2px 3px 0 #cdcaca4a;
  padding: 10px;
  border-radius: 0 0 5px;
  border: 1px solid #cdcaca4a;
  transition: all 0.3s ease-in-out;
}

.projects-section button[type='submit']{
  padding: 7px 10px;
  background: #0d6efd;
  color: #fff;
  border-radius: 5px;
  outline: none;
  border:none;
}
.relief-result li{
  padding: 5px;
}
.relief-result li::marker{
  content: '\2713';
}

.loading-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  animation: blink 1s ease-in-out infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
    width: 30px;
    height: 30px;
    border: 4px solid #ccc;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
    .hide{
        display: none;
    }
/* Keyframe animation for spinning */
@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* Keyframe animation for blinking background */
@keyframes blink {
    0% { background-color: #f0f0f0; }
    100% { background-color: #ccc; }
}
{% endblock %}

{% block content %}
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">Welcome to the Allergy Hub Page</h2>

                    <h8 class="text-white mb-4"> <p class="mb-0 text-white-100" style="text-align: left;"> * By selecting the Reminder, you can generate an ics file and then import it to your calandar</h8>
                    <h8 class="text-white mb-4">  <p class="mb-0 text-white-100" style="text-align: left;"> * By selecting the Reliefer, you can recieve some non-medical advice</h8>
                    <h8 class="text-white mb-4"> <p class="mb-0 text-white-100" style="text-align: left;"> * By selecting the Symptom rate, you can find out how common is your symptom</h8>

                </div>
            </div>
        </div>
    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <div class="row gx-0 justify-content-center">
                <div class="tab-container col-lg-12">
                    <div class="tab-bar">
                        <button class="tablinks active" onclick="openTab(event, 'CalendarTab')">Reminder</button>
                        <button class="tablinks" onclick="openTab(event, 'RelieferTab')">Reliefer</button>
                        <button class="tablinks" onclick="openTab(event, 'RateTab')">Symptom rate</button>
                    </div>
                    <div id="CalendarTab" class="tabcontent">
                        <h3>Generate a reminder background</h3>
                        <div class="container row mt-4 px-4 px-lg-5">
                            <div class="col-lg-6">
                                <form id="add_item_to_calendar_form">
                                    {% csrf_token %}
                                    <div class="d-flex align-items-center gap-1 my-2">
                                        <label><input name="color" type="color" value="#8D00EB"/> </label>
                                        <label>
                                            Medicine name:
                                            <input type="text" name="summary" required/>
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center gap-1 my-2">
                                        <label>
                                            Starting days to have medicine:
                                            <input type="date" name="startDate" required/>
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center gap-1 my-2">
                                        <label>
                                            Time to take:
                                            <input type="time" name="time" required/>
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center gap-1 my-2">
                                        <label>
                                            Duration:
                                            <select name="duration" required>
                                                <option value="" disabled selected>Select duration</option>
                                                <option value="6">Every 6 hour</option>
                                                <option value="8">Every 8 hour</option>
                                                <option value="24">Every day</option>
                                                <option value="48">Every other day</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center gap-1 my-2">
                                        <label>
                                            End:
                                            <select name="end" required>
                                                <option value="" disabled selected>Select end</option>
                                                <option value="7">After a week</option>
                                                <option value="14">After 2 weeks</option>
                                                <option value="30">After a month</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="mt-2 px-4">
                                        <button type="submit">Add</button>
                                        <button type="reset"
                                                style="padding: 7px 10px;background: #78909C;color: #fff;border-radius: 5px;outline: none;border: none;"
                                        >Clear all
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-2">
                            </div>
                            <div class="col-lg-4">
                                <div class="d-flex align-items-center gap-1 my-2">
                                    <dl id="reminder_items_list" style="height: 144px; overflow: auto"></dl>
                                </div>
                                <form id="calendar_form"
                                      method="post"
                                      action="{% url 'reminder_form' %}"
                                >
                                    {% csrf_token %}
                                    <label>
                                        <input type="text" style="display: none" name="data">
                                    </label>
                                    <div class="mt-2 px-4">
                                        <button type="submit" id="generateBtn" disabled>Generate</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="RelieferTab" class="tabcontent">
                        <h3>Non-Medical Symptom reliefer</h3>
                        <div class="container row mt-4 px-4 px-lg-5">
                            <div class="col-lg-5">
                                <h4>Select symptoms</h4>
                                <form id="symptom_relief_form"
                                      method="post"
                                      action="{% url 'symptom_relief_form' %}"
                                >
                                    {% csrf_token %}
                                    {% for symptom in symptoms %}
                                        <div class="d-flex align-items-center gap-1 my-2">
                                            <label>
                                                <input type="checkbox"
                                                       id="{{ symptom.symptom_id }}"
                                                       name="symptoms"
                                                       value="{{ symptom.symptom_id }}">
                                                {{ symptom.symptom_title }}
                                            </label>
                                        </div>
                                    {% endfor %}

                                    <div class="mt-4">
                                        <button type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-6">
                                <h4>Take the following action</h4>

                                 <h6>Based on<a href="https://www.verywellhealth.com/" style="color: blue;"> Verywellhealth </a></h6>
                                <div class="relief-result">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="RateTab" class="tabcontent">
                        <h3>Symptom Rate</h3>
                        <div class="container row mt-4 px-4 px-lg-5">
                            <div class="col-lg-5">
                                <h4>Select symptoms</h4>
                                <form id="symptom-stats-form"
                                      method="post"
                                      action="{% url 'symptom_stats_form' %}">
                                    {% csrf_token %}
                                    {% for symptom in symptoms %}
                                        <div class="d-flex align-items-center gap-1 my-2">
                                            <label>
                                                <input type="checkbox"
                                                       id="{{ symptom.symptom_id }}"
                                                       name="symptoms"
                                                       value="{{ symptom.symptom_id }}">
                                                {{ symptom.symptom_title }}
                                            </label>
                                        </div>
                                    {% endfor %}

                                    <div class="my-4">
                                        <button type="submit">Show</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-6" style="position:relative;box-shadow: 0 0 2px 0 gray;border-radius: 8px;padding: 10px;">
                                <div id="chart-container" style="width: 100%;">
                                    <canvas id="rate-chart"></canvas>
                                </div>
                                 <div class="loading-box hide">
                                    <div class="loading-spinner"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        const sampleRateData = JSON.parse('{{ sampleRateData|escapejs }}');
        const chartItemColors = ['blue', 'pink', 'green', 'red', 'orange', 'navy'];

        // Handling tab switching
        function openTab(evt, tabName) {
            const tabcontent = document.getElementsByClassName("tabcontent");
            for (let i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            const tablinks = document.getElementsByClassName("tablinks");
            for (let i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function handleReliefForm() {
            const form = document.getElementById('symptom_relief_form');
            form.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent default form submission
                const formData = new FormData(form); // Get form data

                fetch(form.getAttribute('action'), {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}' // Add CSRF token
                    }
                })
                .then(function (response) {
                    if (!response.ok) {
                        throw Error(response.statusText);
                    }
                    return response.json();
                })
                .then(function (data) {
                    document.querySelector('.relief-result').innerHTML = data.result_html;
                })
                .catch(function (error) {
                    console.error('Fetch Error: ', error);
                });
            });
        }

        function handleStatisticsForm() {
            const form = document.getElementById('symptom-stats-form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                const formData = new FormData(form);
                document.querySelector('.loading-box').classList.remove("hide");

                fetch(this.getAttribute('action'), {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                 .then(function (response) {
                    if (!response.ok) {
                        throw Error(response.statusText);
                    }
                    return response.json();
                })
                .then(data => renderChart(data.percentages))
                .catch(error => {
                    console.error('Error:', error)
                    document.querySelector('.loading-box').classList.add("hide");
                });
            });
        }

        function renderChart(rateData) {
            // Get the canvas element
            const rateChartCanvas = document.getElementById('rate-chart');
            const colors = chartItemColors.slice(0, rateData.data.length - 1);
            colors.push('gray'); // set the Other's color GRAY

            // Create the pie chart
            const rateChart = new Chart(rateChartCanvas, {
                type: 'pie',
                data: {
                    labels: rateData.labels,
                    datasets: [{
                        data: rateData.data,
                        backgroundColor: colors, // Customize colors
                    }],
                },
                options: {
                    responsive: true,
                    legend: {
                        display: true,
                        position: 'bottom', // Position the legend at the bottom
                        labels: {
                            usePointStyle: true, // Use point style for legend items
                            padding: 20, // Adjust padding between legend items
                            // Customize the label format to include the percentage
                            callback: function(label, index, labels) {
                                return label + ': ' + rateData.data[index] + '%';
                            }
                        },
                    },
                    title: {
                        display: true,
                        text: 'Symptoms rate',
                    },
                },
            });

            document.querySelector('.loading-box').classList.add("hide");
        }

        const reminderItems = [];

        function handleAddItemToCalendarForm() {
            const form = document.getElementById('add_item_to_calendar_form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                // Manually construct form data object
                const formData = {
                    color: form.querySelector('input[name="color"]').value,
                    summary: form.querySelector('input[name="summary"]').value,
                    startDate: form.querySelector('input[name="startDate"]').value,
                    time: form.querySelector('input[name="time"]').value,
                    duration: form.querySelector('select[name="duration"]').value,
                    end: form.querySelector('select[name="end"]').value
                };

                if (!formData.summary || !formData.startDate || !formData.time || !formData.duration || !formData.end) {
                    alert("Please fill in all the fields.");
                    return;
                }

                // Check if the reminder already exists
                if (reminderItems.some(item => JSON.stringify(item) === JSON.stringify(formData))) {
                    alert("Reminder already exists.");
                    return;
                }

                // Add the reminder to the list
                reminderItems.push(formData);
                renderReminderItemsToDataList();
                document.querySelector('#calendar_form input[name="data"]').value =JSON.stringify(reminderItems);
                document.getElementById("generateBtn").disabled = false; // Enable generate button
            });

            form.addEventListener('reset', function (event) {
                reminderItems.splice(0, reminderItems.length)
                const dataList = document.getElementById('reminder_items_list');
                // Clear existing options
                dataList.innerHTML = '';
                document.querySelector('#calendar_form input[name="data"]').value ='';
                document.getElementById("generateBtn").disabled = true; // Disable generate button
            });
        }

        function renderReminderItemsToDataList() {
            const dataList = document.getElementById('reminder_items_list');

            // Clear existing options
            dataList.innerHTML = '';

            // Iterate over reminderItems array and create options
            reminderItems.forEach(function (item) {
                const option = document.createElement('dt');

                option.innerText = `${item.time} - ${item.summary}`; // Assuming summary is the property to be displayed
                option.style.color = item.color;
                dataList.appendChild(option);
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            localStorage.removeItem("REMINDER")
            document.querySelector('div.tab-container button.tablinks.active').click()
            handleReliefForm();
            handleStatisticsForm();
            handleAddItemToCalendarForm();
            renderChart(sampleRateData);

            // Disable "Generate" button until all required fields are filled
            const requiredFields = document.querySelectorAll('#add_item_to_calendar_form [required]');
            const generateBtn = document.getElementById('generateBtn');

            requiredFields.forEach(field => {
                field.addEventListener('change', function() {
                    const allFilled = Array.from(requiredFields).every(field => field.value.trim() !== '');
                    generateBtn.disabled = !allFilled;
                });
            });
        });
    </script>
{% endblock %}
