{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h3 class="text-white ">Do you live in Melbourne and have allergy to Ryegrass?</h3>
                    <h3 class="text-white mx-auto mt-2 mb-5" style="text-align: center;">You are at the right point to get the solutions</h3>
                </div>
            </div>
        </div>
</header>


<!-- Section for the Pollen Map Card -->
<section style="padding: 40px; background-color: #f0f0f0;">
    <div class="container">
        <div class="card" style="margin: 10px; display: flex; flex-direction: column; align-items: center;">
            <img src="{% static 'images/ho-img2.png' %}" alt="Pollen Zones" style="width: 100%; max-width: 1200px; height: auto;">
            <div class="card-body" style="text-align: center;">
                <h3>Experience entering Pollen Zone Mistakenly?</h3>
                <p>Get Ryegrass Distribution Data.</p>
                <a href="/map" class="button" style="background-color: #007BFF; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Plan Your Route</a>
            </div>
        </div>
    </div>
</section>

<!-- Section for the Medication Reminder Card -->
<section style="padding: 40px; background-color: #f0f0f0;">
    <div class="container">
        <div class="card" style="margin: 10px; display: flex; flex-direction: column; align-items: center;">
            <img src="{% static 'images/ho-img1.jpg' %}" alt="Medication Reminder" style="width: 100%; max-width: 1200px; height: auto;">
            <div class="card-body" style="text-align: center;">
                <h3>Always Forgot to Take Medicine On-time?</h3>
                <p>Reach out our medication calendar!!!</p>
                <a href="/Allergy_Hub" class="button" style="background-color: #007BFF; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Add To Your Calender</a>
            </div>
        </div>
    </div>
</section>

<!-- About Us Section -->
<section class="signup-section" id="signup" style="background-color: #2F4F4F; padding: 40px;">
    <div class="container">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <h2 class="text-white mb-5">About Us</h2>
                <p class="text-white mb-4" style="font-size: 1.5rem;">We're a passionate team dedicated to improving the lives of those affected by ryegrass allergies in Victoria. Join us in our mission to make outdoor activities enjoyable for everyone, free from the worry of seasonal allergies. Together, we can enhance outdoor experiences.</p>
<!--                <a href="/contact" class="button" style="background-color: #007BFF; color: white; padding: 10px 20px; font-size: 1.1rem; border-radius: 5px; text-decoration: none;">Contact Us</a>-->
            </div>
        </div>
    </div>
</section>
{% endblock %}
