{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase" style="font-size: 300%;">Ryegrass Solutions</h1>
                    <h3 class="text-white-50 mx-auto mt-2 mb-5" style="text-align: justify;" >Welcome to our platform dedicated to empowering individuals against ryegrass allergies. We provide crucial insights, personalized advice, and most recent data regarding the propagation of this grass Australia wide. Some few feature you would get the benefit via our website would be accessing to locations Ryegrass grow, its symtoms, a reminder for your medication, and much more.</h3>
                    <a class="btn btn-primary" href="#about">What is Ryegrass</a>
                </div>
            </div>
        </div>
    </header>

    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <!-- 文字部分 -->
                <div class="col-lg-6" style="text-align: justify;">
                    <h2 class="Black mb-4">Closer Look at Ryegrass</h2>
                    <p class="text-black-10">
                        In southeastern Australia, especially areas with temperate grasses, there's a higher risk of thunderstorm asthma, affecting everyday folks. This happens because of things like sensitivity to ryegrass pollen (RGP), seasonal hay fever, and being outside during thunderstorms when pollen is flying. Perennial ryegrass (Lolium perenne), which grows a lot here, plays a big part in this. Even if you've never had asthma before, you could feel your chest tighten during a thunderstorm if you're sensitive to RGP and have hay fever. When thunderstorms hit, RGP pollen grains burst open, releasing tiny allergen-packed bits that are easy to breathe in, making things worse. An academic research has been done about this and to know more about it, click
                        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7540598/" style="color: blue;">here.</a>

                    </p>
                </div>
                <!-- 图片部分 -->
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <img class="img-fluid" src="{% static 'images/aa1.png' %}" alt="..."
                         style="max-width: 500px; height: auto;"/>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid" src="{% static 'images//111.png' %}" alt="..."/>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Real-time Distribution Data: Stay informed about ryegrass in Melbourne</h4>
                        <p class="text-black-50 mb-0">Our platform provides personalized routine advice based on
                            real-time data, helping allergy prevention effectively.</p>
                        <a class="btn btn-primary mt-4" href="/map" target="_blank"
                           style="padding: 0.25rem 0.5rem; font-size: 0.875rem;">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6">
                    <img class="img-fluid" src="{% static 'images/clothing-rec.jpg' %}" alt="..."/>
                </div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Personalized Protection Advice for Allergy Management</h4>
                                <p class="mb-0 text-white-50">Our personalized protection advice service provides
                                    tailored clothing recommendations to help you prevent ryegrass pollen allergies
                                    effectively.</p>
                                <a class="btn btn-primary mt-4" href="/cloth_sug" target="_blank"
                                   style="padding: 0.25rem 0.5rem; font-size: 0.875rem;">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6">
                    <img class="img-fluid" src="{% static 'images/allergy_edu.jpg' %}" alt="..."/>
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Minimise the ryegrass pollen allergy through our allergy
                                    management education</h4>
                                <p class="mb-0 text-white-50">Our comprehensive Ryegrass Allergy Management Education is
                                    designed to significantly minimise the allergy for individuals in Melbourne affected
                                    by ryegrass pollen. With the knowledge and tools necessary to effectively manage and
                                    reduce the impact of ryegrass pollen allergies, we help you understand the basics of
                                    allergy prevention, recognise early symptoms, and adopt proactive strategies for
                                    personal care. </p>
                                <a class="btn btn-primary mt-4" href="/cloth_edu" target="_blank"
                                   style="padding: 0.25rem 0.5rem; font-size: 0.875rem;">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup-->
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">About Us</h2>
                    <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is
                            required.
                        </div>
                        <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.
                        </div>
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3 mt-2 text-white">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br/>
                                <!--a href="https://startbootstrap.com/solution/contact-forms">
                                https://startbootstrap.com/solution/contact-forms</a-->
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger mb-3 mt-2">Error sending message!</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
