{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/661fea671ec1082f04e3a16e/1hrman9j2';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    <header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <p>Please select an option:</p>
                <select id="optionSelect">
                    <option value="data">data</option>
                    <option value="data visualization">data visualization</option>
                    <option value="map">map</option>
                    <option value="display">display</option>
                    <option value="nearby">nearby</option>
                    <option value="distribut">distribut</option>
                    <option value="cloth">cloth</option>
                    <option value="hat">hat</option>
                    <option value="face mask">face mask</option>
                    <option value="time">time</option>
                    <option value="educat">educat</option>
                    <option value="information">information</option>
                    <option value="info">info</option>
                </select>
                <button onclick="showUrl()">Submit</button>
                <!-- End of the section content -->
            </div>
        </div>
    </div>
</header>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/661fea671ec1082f04e3a16e/1hrman9j2';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->


<script>
const mappings = {
    'https://ryegrass.azurewebsites.net/map/': ["data", "data visualization", "map", "display", "nearby", "distribut"],
    'https://ryegrass.azurewebsites.net/cloth_sug': ["cloth", "hat", "face mask", "time"],
    'https://ryegrass.azurewebsites.net/cloth_edu/': ["educat", "information", "info"],
};

function showUrl() {
    const selectedOption = document.getElementById('optionSelect').value;
    let targetUrl = '';

    // Find the corresponding URL based on the selected option
    for (const [url, keywords] of Object.entries(mappings)) {
        if (keywords.includes(selectedOption)) {
            targetUrl = url;
            break;
        }
    }

    //If the corresponding URL is found, display
    if (targetUrl) {
        alert("The URL is: " + targetUrl);
    } else {
        console.error('No matching URL found for the selected option');
    }
}
</script>
{% endblock %}

