{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
        <style>
            body {
                height: 100vh;
            {#background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("{% static 'images/bg-masthead.jpg' %}");#} background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-color: #2F4F4F;
            }

            #find-me {
                background-image: url("{% static 'images/loc_button.png' %}");
                background-size: cover;
                border: none;
                padding: 0;
                width: 30px;
                height: 30px;
                cursor: pointer;
                color: transparent;
                overflow: hidden;
                background-color: white;
            }
        </style>

        <!-- Leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
              integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
              crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""></script>

        <!-- Leaflet-geosearch -->
        <script src="https://unpkg.com/leaflet-geosearch"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch/dist/geosearch.css"/>

        <!-- Leaflet Control Geocoder -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
        <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

        <!-- Leaflet.curve -->
        <script src="https://unpkg.com/leaflet-curve"></script>

        <!-- Leaflet Routing Machine -->
        <link rel="stylesheet"
              href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"/>
        <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
        <script src="https://unpkg.com/leaflet-control-geocoder@1.13.0/dist/Control.Geocoder.js"></script>

        <!-- Leaflet Routing Machine OpenRouteService -->
    </header>

    <!-- Body -->
    <body>
    <!-- Add a title to the map -->
    <h1 style="color: white; text-align: center; margin-top: 6%">Check the Ryegrass Location in VIC</h1>
    <!-- Display the map -->
    <div id="map-container"
         style="display: flex; justify-content: flex-start; height: 80%; width: 85%; margin: auto">

        <!-- Add the map -->
        <div id="map"
             style="height: 100%; width: 80%"></div>

        {#        <select id="travel-mode">#}
        {#            <option value="driving">Driving</option>#}
        {#            <option value="cycling">Cycling</option>#}
        {#            <option value="walking">Walking</option>#}
        {#        </select>#}

        <!-- Add the sidebar -->
        <div id="sidebar"
             style="height: 100%; width: 20%; float: left; border-left: 1px solid #ccc;
                background-color: #ffffcc;">
            <div id="sidebar-title"
                 style="display: flex; height: 50px;
                         text-align: center; justify-content: center;
                         background-image: url('{% static 'images/MapSiderTitle3.png' %}');
                         background-size: cover">
            </div>
        </div>
    </div>
    <!-- Add a button to find the user's location -->
    <button id="find-me">Find me</button>
    </body>

    <!-- JavaScript -->
    <script>
        // Add a boundary to the map
        const southWest = L.latLng(-38.433859, 140.961682),
            northEast = L.latLng(-35, 149.976678),
            bounds = L.latLngBounds(southWest, northEast);
        // Create the map
        const map = L.map('map', {
            maxBounds: bounds,
            maxBoundsViscosity: 1.0,
            maxZoom: 18,
            minZoom: 7
        }).setView([-37.813611, 144.963056], 10);
        // Add the OpenStreetMap tiles
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Generate the Ryegrass pollen risk region
        fetch('api/locations')
            .then(response => response.json())
            .then(locations => {
                locations.forEach(location => {
                    // Add a curve to the map
                    let curve = L.curve(location.shape_points, {
                        color: location.shape_color,
                        fill: true
                    }).addTo(map);

                    // Add a popup to the risk region
                    curve.bindPopup(location.rye_name + '<br>' +
                        location.popup_message
                    );
                });
            });

        // Add a location search bar on the top of the map
        class LimitedOpenStreetMapProvider extends GeoSearch.OpenStreetMapProvider {
            search({query}) {
                // Call the original search function
                return super.search({query})
                    .then(results => {
                        // Filter the results to only include those within Victoria
                        return results.filter(result => {
                            const {x: lon, y: lat} = result;
                            // These are approximate boundaries for Victoria, adjust as needed
                            const minLat = -39.2246, maxLat = -33.9811, minLon = 140.9617, maxLon = 149.9767;
                            return lat >= minLat && lat <= maxLat && lon >= minLon && lon <= maxLon;
                        });
                    });
            }
        }

        // Add the route suggestion by OpenRouteService
        fetch('api/danger_areas')
            .then(response => response.json())
            .then(danger_areas => {
                // Create the danger zones
                const dangerZones = danger_areas.map(danger_area => ({
                    polygon: L.polygon(danger_area.danger_area),
                    riskLevel: danger_area.risk
                }));

                const customRouter = L.Routing.osrmv1({
                    serviceUrl: 'https://router.project-osrm.org/route/v1'
                });

                // Rewrite the route function to avoid danger zones
                customRouter.route = function (waypoints, callback, context, options) {
                    const originalWaypoints = waypoints.map(wp => wp.latLng);

                    // Check if the route intersects with any danger zones
                    const filteredWaypoints = originalWaypoints.filter(latLng => {
                        return !dangerZones.some(zone => zone.riskLevel === 'high' && zone.polygon.getBounds().contains(latLng));
                    });

                    if (filteredWaypoints.length < 2) {
                        callback.call(context || callback, null, []);
                        return;
                    }

                    L.Routing.OSRMv1.prototype.route.call(this, waypoints, callback, context, options);
                };

                // Add the route control
                const routeControl = L.Routing.control({
                    waypoints: [
                        L.latLng(-37.813611, 144.963056),
                        L.latLng(-37.813611, 144.963056)
                    ],
                    routeWhileDragging: true,
                    geocoder: L.Control.Geocoder.nominatim(),
                    router: customRouter // 使用自定义路由器
                }).addTo(map);
            }).catch(error => {
            console.error('Error fetching danger zones:', error);
        });

        // Add a button to find the user's location
        const findMeControl = L.control({position: 'topleft'});
        findMeControl.onAdd = function (map) {
            const div = L.DomUtil.create('div', 'leaflet-bar leaflet-control leaflet-control-custom');
            div.appendChild(document.getElementById('find-me'));
            return div;
        };
        findMeControl.addTo(map);
        const findMeButton = document.getElementById('find-me');
        findMeButton.addEventListener('click', () => {
            if (!navigator.geolocation) {
                alert('Geolocation is not supported by your browser');
            } else {
                navigator.geolocation.getCurrentPosition((position) => {
                    const {latitude, longitude} = position.coords;
                    map.setView([latitude, longitude], 14);
                    L.marker([latitude, longitude]).addTo(map)
                        .bindPopup('You are here')
                        .openPopup();
                }, () => {
                    alert('Unable to retrieve your location');
                });
            }
        });
    </script>
{% endblock %}